@import "~antd/dist/antd.css";

body {
  margin: 0;
  background-color: #fafafa;
}

.padding-1 {
  padding: 1rem;
}

.padding-2 {
  padding: 2rem;
}

.ant-card-body {
  padding: 0;
}

.ant-card {
  box-shadow: rgba(17, 17, 26, 0.02) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 2px;
}

.ant-form-item-label {
  font-weight: bold;
}

ul.ant-pagination {
  margin: 1rem !important;
}
